<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>画像認識センサー環境設定</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
<body>
<div class="container">
	<h3>画像認識センサー環境設定</h3>
	<form>
	<div>
	<span>
		<button type="reset" class="btn btn-success" id="clear">表示クリア</button>
		<button type="button" class="btn btn-success" id="initialize">登録内容初期化</button>
	</span>
	<span class="pull-right">
		<button type="button" class="btn btn-success" id="initialize">登録</button>
	</span>
    </div>
	<br/>
	<table class="table table-sm">
		<thead>
			<tr class="info"><th colspan="2">基本情報設定</th></tr>
		</thead>
		<tbody>
		<tr>
			<td class="col-md-3">標準ARMサーバー</td>
			<td class="col-md-9">
				<div class="form-group col-xs-3"><input type="text" name="default-arm-server" class="form-control input-sm" value="<% echo(default_arm_server) %>"></div>
			</td>
		</tr>
		<tr>
			<td>データARMサーバー</td>
			<td><div class="form-group col-xs-3"><input type="text" name="default-arm-server" class="form-control input-sm" value="<% echo(data_arm_server) %>"></div></td>
		</tr>
		<tr>
			<td>ARMルーター番号</td>
			<td><span class="form-group col-xs-7"><input type="text" name="default-arm-server" class="form-control input-sm" value="<% echo(arm_router_no) %>"></span></td>
		</tr>
		<tr>
			<td>画像認識センサー番号</td>
			<td><div class="form-group col-xs-7"><input type="text" name="default-arm-server" class="form-control input-sm" value="<% echo(pic_sensor_no) %>"></div></td>
		</tr>
		</tbody>
	</table>

	<table class="table table-bordered table-condensed">
		<thead>
			<tr class="info"><th colspan="7">スケジュール設定</th></tr>
		</thead>
		<tbody>
		<tr>
			<td class="col-md-3">センサー死活監視インターバル</td>
			<td class="col-md-1">
				<select>
				    <option>a</option>
				    <option>b</option>
				    <option>c</option>
				</select>
			</td>
			<td class="col-md-1">
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td class="col-md-1">
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td class="col-md-1">
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td class="col-md-1">
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td class="col-md-1">
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>ドアセンサー死活監視インターバル</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>死活監視（ARMサーバー間）</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>設定変更問合せ</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>画像認識センサー再起動</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>タイトルなし？？</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
			<td>
				<select class="selectpicker">
				    <option>Mustard</option>
				    <option>Ketchup</option>
				    <option>Relish</option>
				</select>
			</td>
		</tr>
		</tbody>
	</table>

	</form>
</div>
</body>
</html>



