<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>画像認識センサー環境設定</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function(){
    $('#registform').submit(function(event) {
        event.preventDefault();
        var $form = $(this);
        var $registButton = $('#regist');
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: $form.serialize(),
            timeout: 10000,
            beforeSend: function(xhr, settings) {
                $registButton.attr('disabled', true);
            },
            complete: function(xhr, textStatus) {
                $registButton.attr('disabled', false);
            },
            success: function(result, textStatus, xhr) {
                alert('登録しました。');
            },
            error: function(xhr, textStatus, error) {
                alert('登録が失敗しました。再度お試し下さい。');
            }
        });
    });

    $('#initialize').click(function() {
        if (confirm('初期設定に戻しますか？')) {
          var $form = $(this);
          var $initButton = $('#initialize');
          $.ajax({
              url: 'setting.php',
              type: 'POST',
              data: {'action_no': 2},
              timeout: 10000,
              beforeSend: function(xhr, settings) {
                  $initButton.attr('disabled', true);
              },
              complete: function(xhr, textStatus) {
                  $initButton.attr('disabled', false);
              },
              success: function(result, textStatus, xhr) {
                  alert('登録内容を初期化しました');
              },
              error: function(xhr, textStatus, error) {
                  alert('登録内容初期化に失敗しました。再度お試し下さい。');
              }
          });
        }
    })

    $('#clear').click(function() {
        if (confirm('前回登録内容に戻しますか？')) {
            $('#registform')[0].reset();
        }
    })
});
</script>
</head>
<body>
<div class="container">
	<h3>画像認識センサー環境設定</h3>
	<form id="registform" action="setting.php" method="post" id="settingform">
	<div>
	<span>
		<button type="button" class="btn btn-success" id="clear">表示クリア</button>
		<button type="button" class="btn btn-success" id="initialize">登録内容初期化</button>
	</span>
	<span class="pull-right">
		<button type="submit" class="btn btn-success" id="regist">登録</button>
	</span>
    </div>
	<br/>
	<table class="table table-sm">
		<thead>
			<tr class="info"><th colspan="2">基本情報設定</th></tr>
		</thead>
		<tbody>
		<tr>
			<td class="col-md-3">標準ARMサーバー</td>
			<td class="col-md-9">
				<div class="form-group col-xs-3">
					<input type="text" name="default_arm_server" class="form-control input-sm" value="{{ data.default_arm_server }}">
				</div>
			</td>
		</tr>
		<tr>
			<td>データARMサーバー</td>
			<td>
				<div class="form-group col-xs-3">
					<input type="text" name="data_arm_server" class="form-control input-sm" value="{{ data.data_arm_server }}">
				</div>
			</td>
		</tr>
		<tr>
			<td>ARMルーター番号</td>
			<td>
				<div class="form-group col-xs-7">
					<input type="text" name="arm_router_no" class="form-control input-sm" value="{{ data.arm_router_no }}">
				</div>
			</td>
		</tr>
		<tr>
			<td>画像認識センサー番号</td>
			<td>
				<div class="form-group col-xs-7">
					<input type="text" name="pic_sensor_no" class="form-control input-sm" value="{{ data.pic_sensor_no }}">
				</div>
			</td>
		</tr>
		</tbody>
	</table>

	<table class="table table-bordered table-condensed">
		<thead>
			<tr class="info"><th colspan="7">スケジュール設定</th></tr>
		</thead>
		<tbody>
		{% for key, item in data.schedules %}
			<tr>
				<td class="col-md-3">{{ item }}</td>
				<td class="col-md-1">
					<select name="{{ key }}-month">
						{% for select_month in data.select_months %}
					      <option value="{{ select_month.key }}" {% if data[key].month == select_month.key %} selected {% endif %}>{{ select_month.value }}</option>
						{% endfor %}
					</select>
				</td>
				<td class="col-md-1">
					<select name="{{ key }}-day">
						{% for select_day in data.select_days %}
						    <option value="{{ select_day.key }}" {% if data[key].day == select_day.key %} selected {% endif %}>{{ select_day.value }}</option>
						{% endfor %}
					</select>
				</td>
				<td class="col-md-1">
					<select name="{{ key }}-weekday">
						{% for select_weekday in data.select_weekdays %}
						    <option value="{{ select_weekday.key }}" {% if data[key].weekday == select_weekday.key %} selected {% endif %}>{{ select_weekday.value }}</option>
						{% endfor %}
					</select>
				</td>
				<td class="col-md-1">
					<select name="{{ key }}-hour">
						{% for select_hour in data.select_hours %}
						    <option value="{{ select_hour.key }}" {% if data[key].hour == select_hour.key %} selected {% endif %}>{{ select_hour.value }}</option>
						{% endfor %}
					</select>
				</td>
				<td class="col-md-1">
					<select name="{{ key }}-minute">
						{% for select_minute in data.select_minutes %}
						    <option value="{{ select_minute.key }}" {% if data[key].minute == select_minute.key %} selected {% endif %}>{{ select_minute.value }}</option>
						{% endfor %}
					</select>
				</td>
				<td class="col-md-1">
					<select name="{{ key }}-second">
						{% for select_second in data.select_seconds %}
						    <option value="{{ select_second.key }}"{% if data[key].second == select_second.key %} selected {% endif %}>{{ select_second.value }}</option>
						{% endfor %}
				</select>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	</form>
</div>
</body>
</html>
